		<div class="row-fluid" style="background-color:#333;margin-top: 30px;">
				<div class="span3 offset1 f-white">
					<h4>联系我们</h4>			
					<ul class="unstyled">
						<li>联系人：苏新栋</li>
						<li>电 话：0318-2125776：</li>
						<li>传 真：0318-2125776</li>
						<li>手 机：13831809536</li>
						<li>邮 箱：hsyongjia@126.com</li>
					</ul>	
				</div>
				<div class="span2 f-white">
					<h4>快速链接</h4>
					<ul class="unstyled">
						<li><a href="<?php echo $this->domain.'/news.html';?>"><i class="icon-align-left"></i>&nbsp;&nbsp;&nbsp;<font color="orange">行业资讯</font></a></li>
						<li><a href="<?php echo $this->domain.'/product.html';?>"><i class="icon-align-left"></i>&nbsp;&nbsp;&nbsp;<font color="orange">产品展示</font></a></li>
						<li><a href="<?php echo $this->domain.'/workshop.html';?>"><i class="icon-align-left"></i>&nbsp;&nbsp;&nbsp;<font color="orange">车间设备</font></a></li>
						<li><a href="<?php echo $this->domain.'/network.html';?>"><i class="icon-align-left"></i>&nbsp;&nbsp;&nbsp;<font color="orange">销售网络</font></a></li>
						<li><a href="<?php echo $this->domain.'/contact.html';?>"><i class="icon-align-left"></i>&nbsp;&nbsp;&nbsp;<font color="orange">联系我们</font></a></li>
					</ul>
				</div>
				<div class="span2 f-white">
					<h4>关于我们</h4>
					<a href="#" style="margin-left:-28px;"><img src="<?php echo $this->domain.'/media/img/logo.png';?>"></a>
				</div>
				<div class="span3 f-white">
					<p style="margin-top:40px;margin-left:-20px">公司已有十余年的发展历史，主要生产电动伸缩门配件（轮类，轮罩，机头轮，行走轮等），专业维修电动伸缩门，在市场经济的大潮下，本厂跻身国内大型专业生产厂家的行列，生产的铸铁轮，橡胶轮等产品被许多国家大中型重点工程所采用，取得了经济效益和社会效益的双丰收</p>
				</div>
		</div>
		<div class="row-fluid" style="background-color:black">
			<p style="text-align:center;margin:15px 0px 10px 0px">
			CopyRight © www.yjssm.com     All Rights Reserved 版权所有：衡水永佳电动伸缩门配件厂
			</p>
		</div>
	</body>

</html>

