<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>永佳伸缩门配件</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="<p>永佳伸缩门配件厂已有十余年的发展历史，主要生产电动伸缩门配件（轮类，轮罩，机头轮，行走轮等），专业维修电动伸缩门，在市场经济的大潮下，本厂跻身国内大型专业生产厂家的行列，生产的铸铁轮，橡胶轮等产品被许多国家大中型重点工程所采用，取得了经济效益和社会效益的双丰收。</p>">
		<meta name="keywords" content="行走轮,机头轮,电动门,电动伸缩门,伸缩门配件,伸缩门配件价格,伸缩门配件十大品牌">
		<link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon">
		<link href="<?php echo $this->domain.'/media/css/bootstrap.css';?>" rel="stylesheet">
		<link href="<?php echo $this->domain.'/media/css/bootstrap-responsive.css';?>" rel="stylesheet">
		<script src="<?php echo $this->domain.'/media/js/jquery-1.9.1.min.js';?>"></script>
		<script src="<?php echo $this->domain.'/media/js/bootstrap.min.js';?>"></script>
		<script src="<?php echo $this->domain.'/media/js/main.js';?>"></script>
		<style>
			body {font-family:tahoma,arial,宋体,serif;font-size:13px;color:	#5B5B5B;}
			ul li {margin-top:8px;}
			a{color:black;text-decoration:none;}
			.f-white{color:rgba(238, 238, 238, 0.75);}
			.f-orange{color:orange;}
			.title{color:#3C3C3C;font-size:15px;font-weight:600;margin-top:10px;margin-bottom:10px}
			.top {margin-top:15px}
			.nav {font-family:微软雅黑}

			#nav .btn {line-height: 30px;padding: 4px 18px;}
		</style>
	</head>


	<body style="min-width:1024px;">
			<div style="background-color:#333;">
				<div style="width:960px;margin:0px auto;overflow:hidden;">
					<div style="float:left"><img src="<?php echo $this->domain.'/media/img/logo.png'; ?>"></div>	
					<div id="nav" class="nav" style="float:left;margin-left:80px;margin-top:80px">
						<a class="btn btn-inverse" href="<?php echo $this->domain; ?>">首&nbsp;页</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/news.html'; ?>">产业资讯</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/product.html';?>">产品展示</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/workshop.html';?>">车间设备</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/honor.html';?>">企业荣誉</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/network.html';?>">销售网络</a>
						<a class="btn btn-inverse" href="<?php echo $this->domain.'/contact.html';?>">联系我们</a>
					</div>
				</div>
			</div>	
