<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>永佳伸缩门配件</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="<p>永佳伸缩门配件厂已有十余年的发展历史，主要生产电动伸缩门配件（轮类，轮罩，机头轮，行走轮等），专业维修电动伸缩门，在市场经济的大潮下，本厂跻身国内大型专业生产厂家的行列，生产的铸铁轮，橡胶轮等产品被许多国家大中型重点工程所采用，取得了经济效益和社会效益的双丰收。</p>">
		<meta name="keywords" content="行走轮,机头轮,电动门,电动伸缩门,伸缩门配件,伸缩门配件价格,伸缩门配件十大品牌">
		<link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon">
		<link href="<?php echo $this->domain.'/media/css/bootstrap.css';?>" rel="stylesheet">
		<link href="<?php echo $this->domain.'/media/css/bootstrap-responsive.css';?>" rel="stylesheet">
		<script src="<?php echo $this->domain.'/media/js/jquery-1.9.1.min.js';?>"></script>
		<script src="<?php echo $this->domain.'/media/js/bootstrap.min.js';?>"></script>
		<style>
			body {font-family:tahoma,arial,宋体,serif;font-size:13px;color:	#5B5B5B;}
			ul li {margin-top:8px;}
			a{color:black}
			.f-white{color:rgba(238, 238, 238, 0.75);}
			.f-orange{color:orange;}
			.title{color:#3C3C3C;font-size:15px;font-weight:600;margin-top:10px;margin-bottom:10px}
			.top {margin-top:15px}
		</style>
	</head>


	<body>
		<div class="container-fluid" style="background-color:#333">
			<div class="row-fluid">
				<img style="margin:0px 40px 10px 100px;float:left" src="<?php echo $this->domain.'/media/img/logo.png'; ?>">	
				<div style="margin-top:80px;">
					<div  id="nav" class="nav" style="display:none">
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain; ?>">首&nbsp;页</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/news.html'; ?>">产业资讯</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/product.html';?>">产品展示</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/workshop.html';?>">车间设备</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/honor.html';?>">企业荣誉</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/network.html';?>">销售网络</a>
						<a class="btn btn-large btn-inverse" href="<?php echo $this->domain.'/contact.html';?>">联系我们</a>
					</div>
					<div  id="ieNav" class="nav">
						<a href="<?php echo $this->domain; ?>"><img src="<?php echo $this->domain.'/media/img/nav/1.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/news.html'; ?>"><img style="width:100px;height:60px" src="<?php echo $this->domain.'/media/img/nav/2.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/product.html';?>"><img src="<?php echo $this->domain.'/media/img/nav/3.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/workshop.html';?>"><img src="<?php echo $this->domain.'/media/img/nav/4.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/honor.html';?>"><img src="<?php echo $this->domain.'/media/img/nav/5.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/network.html';?>"><img src="<?php echo $this->domain.'/media/img/nav/6.jpg';?>"></img></a>
						<a href="<?php echo $this->domain.'/contact.html';?>"><img src="<?php echo $this->domain.'/media/img/nav/7.jpg';?>"></img></a>
					</div>
				</div>
			</div>	
		</div>
