<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>管理后台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="media/css/bootstrap.css" rel="stylesheet">
		<link href="media/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="media/css/bootstrap-image-gallery.css" rel="stylesheet">
		<!--<link href="media/css/style.css" rel="stylesheet">-->
		<link href="media/css/uploadify.css" rel="stylesheet">

		<script src="media/js/jquery-1.9.1.min.js"></script>
		<script src="media/js/bootstrap.min.js"></script>
		<script src="media/js/load-image.js"></script>
		<script src="media/js/bootstrap-image-gallery.min.js"></script>
		<script src="media/js/uploadify.js"></script>
		<style>
			body {font-family:tahoma,arial,宋体,serif;font-size:13px;color:	#5B5B5B}
			ul li {margin-top:8px;}
			a{color:black}
			.f-white{color:white;}
			.nav {margin:67px 0px 10px 300px;padding-top:20px;height:40px;}
			.title{color:#3C3C3C;font-size:15px;font-weight:600;margin-top:10px;margin-bottom:10px}
			.top {margin-top:15px}
				
		</style>
	</head>


	<body>
		<div class="container-fluid" style="background-color:#eee">
			<div class="row-fluid" style="margin-buttom:0px">
					<div  id="nav" class="nav">
						<a class="btn btn-large" href="/">首&nbsp;页</a>
						<a class="btn btn-large" href="./index.php?c=content&a=index">内容管理</a>
						<a class="btn btn-large" href="#">监控管理</a>
						<a class="btn btn-large" href="#">用户管理</a>
					</div>
				</div>	
			</div>
